@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--VeryLightGray);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  display: grid;
  place-content: center;
}

h1,
h2,
h3 {
  color: var(--VeryDarkBlue);
}

h1 {
  font-weight: 200;
}

h1,
h2 {
  font-size: 2rem;
  line-height: 3rem;
}

p {
  color: var(--GrayishBlue);
  margin-top: 1rem;
  line-height: 1.5rem;
}

img {
  max-width: 3.5rem;
  margin: 2rem 0 0 auto;
}

.header {
  text-align: center;
  max-width: 30rem;
  margin: 4rem auto 3.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  gap: 1.5rem;
}

[class|="card"] {
  max-width: 19rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border-top: 4px solid;
  overflow: hidden;
  margin: auto;
  padding: 2rem;
  box-shadow: 0px 5px 10px var(--GrayishBlue);
}

.card-1 {
  border-color: var(--Cyan);
  margin: auto;
}

.card-2 {
  border-color: var(--Red);
}

.card-3 {
  border-color: var(--Orange);
  margin-top: 2rem;
}

.card-4 {
  border-color: var(--Blue);
  margin: auto;
}

[class|="card"] p {
  font-weight: 200;
  font-size: 12px;
  line-height: 1.2rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 770px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .header {
    max-width: 20rem;
  }

  h1,
  h2 {
    font-size: 1.65rem;
    line-height: 2rem;
  }
}
